.top-panel {
  display: flex;
  justify-content: space-between;
}

.json-dilog {
  padding: 5%;
}

/* width */
::-webkit-scrollbar {
  width: 0.2em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
